@import url(media__query.css);

@font-face {
  font-family: "diplomat";
  src: url(../font/Far_Diplomat/Far_Diplomat.ttf) format("ttf");
}
/* default codes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "diplomat";
}
body {
  background-color: #1f2235;
}
ul {
  list-style-type: none;
}
a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
nav {
  font-size: 18px;
}
#nav__Desktop .container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}
.img__brand {
  margin-left: auto;
}
.list__navbar__desktop .mainUl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.mainUl li a {
  color: #fff;
}
.resomeh button {
  background-color: #ffc576;
  padding: 8px 20px;
}
.resomeh button a {
  color: #1f2235;
  font-size: 18px;
  font-weight: 600;
}
.resomeh {
  margin-right: 150px;
}
#line__list__navbar {
  height: 20px;
  /* background-color:red ; */
  border-right: 1px solid #434761;
}
/* hover before ul | li  */
.mainUl li {
  position: relative;
}
.mainUl li::before {
  position: absolute;
  background-color: #FFC576;
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  right: 0;
  transition: all 0.4s ease-in-out;
}
.mainUl li:hover::before {
  width: 100%;
}
